.langelis {
	background-color: gray;
	color: white;
	text-align: center;
}
.sriftas {
	font-family: 'Tangerine', serif;
        font-size: 150px;
}
.langelis2 {
	background-color: gray;
	border: 2px solid black;
	font-size: 150px;
	float: left;
	padding: 1px;
}